<div class="container">
    <mat-card>
        <h3>About the Commander Application</h3>

        <strong>What is this application?</strong>
        <br>
        <p>Commander is a web application that helps users keep track of the commands they use in their project.</p>
        <p>Users can sort and filter through their commands</p>
        <p>Users can also create, update and delete their commands</p>
        
        <br>
        <mat-divider></mat-divider>
        <br>

        <strong>What I used to create this application</strong>
        <br>
        <p>The frontend uses Angular 9 with Angular Material.</p>
        <p>The backend uses ASP.NET Core WebApi 3.1, Entity Framework Core and Automapper.</p>
        <p>The web api utilizes authentication via Microsoft Identity.</p>

        <br>
        <mat-divider></mat-divider>
        <br>

        <Strong>About Me</Strong>
        <br>
        <p>This application was created by Dennis Martinez.</p>
    </mat-card>
</div>