<mat-card>
<div class="container">
    <mat-card-title class="card-header">Register</mat-card-title>
    <hr>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-row">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput 
                       formControlName="firstName" 
                       [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                       #firstName/>
                <mat-error *ngIf="f.firstName.errors.required">Please enter a valid first name.</mat-error>
              </mat-form-field>
              <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </div> -->
            </div>

            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <mat-error *ngIf="f.lastName.errors.required">Please enter a valid last name.</mat-error>
              </mat-form-field>
              <!-- <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div> -->
            </div>

        </div>

        <div class="form-row">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
              <mat-error *ngIf="f.userName.errors.required">Please enter a valid username.</mat-error>
            </mat-form-field>
            <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Username is required</div>
            </div> -->
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="text" matInput formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <mat-error *ngIf="f.email.errors.required">Email is required.</mat-error>
              <mat-error *ngIf="f.email.errors.email">Please enter a valid email.</mat-error>
            </mat-form-field>
            <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div> -->
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <mat-error *ngIf="f.password.errors.required">Password is required.</mat-error>
                <mat-error *ngIf="f.password.errors.minlength">Please enter a valid password.</mat-error>
              </mat-form-field>
                <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div> -->
            </div>
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <mat-error *ngIf="f.firstName.errors.required">Make sure both passwords match.</mat-error>
                <mat-error *ngIf="f.firstName.errors.mustMatch">Passwords must match.</mat-error>
              </mat-form-field>
                <!-- <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div> -->
            </div>
        </div>
        <div class="form-buttons">
          <div>
            <button mat-raised-button color="accent" type="submit">Register</button>
          </div>
        </div>

    </form>
  </div>
</mat-card>
  